<!-- Existe alguma mensagem de erro de sistema? -->
<% if(budget.errors.any?) %>
  <div class="messages alert alert-warning" role="alert">
    <p><%= t('verify_the_following_errors') %>:</p>
    <ul>
      <% budget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="budget__form">
  <%= form_with(model: [@order, @budget], local: true) do |f| %>
    <div class="orders__budget">
      <h3><%= t('select_desired_mode') %></h3>
      <% if @modes_prices_deadlines.empty? %>
        <h5><%= t('no_mode_can_attend_this_order') %></h5>
      <% else %>
        <table class="container table table-success table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th><%= t('name') %></th>
              <th><%= t('price') %></th>
              <th><%= t('deadline') %></th>
            </tr>
          </thead>
          <tbody>
            <% @modes_prices_deadlines.each do |mode| %>
              <% @total_price = '%.2f' % ((mode.price_per_km * @order.distance) + mode.fixed_fee) %>
              <%# <%= f.hidden_field :mode, value: mode.id %>
              <%= f.hidden_field :total, value: @total_price %>
              <%= f.hidden_field :price_km, value: mode.price_per_km %>
              <%= f.hidden_field :fixed_fee, value: mode.fixed_fee %>
              <%= f.hidden_field :deadline, value: mode.deadline %>
              <%= f.hidden_field :order_id, value: @order.id %>
              <tr>
                <td>
                  <div class="form-check">
                    <%= f.radio_button :mode, mode.name, class: "form-check-input" %>
                  </div>
                </td>
                <td><%= mode.name %></td>
                <td><%= t('$') %> <%= @total_price %></td>
                <td><%= mode.deadline %> dias</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="orders__btn-budget">
      <%= f.submit t('confirm_order'), class: "btn btn-success", disabled: false %>
    </div>
  <% end %>
</div>