<!-- Existe alguma mensagem de erro de sistema? -->
<% if(order.errors.any?) %>
  <div class="messages alert alert-warning" role="alert">
    <p><%= t('verify_the_following_errors') %>:</p>
    <ul>
      <% order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="order__form">
  <%= form_with(model: order, local: true) do |form| %>
    <div>
      <table class="form__main table table-success table-striped">
        <tr>
          <th><%= form.label :distance, t('distance'), class: "form-label" %></th>
          <td><%= form.text_field :distance, class: "form-control" %></td>
        </tr>
      </table>
    </div>
    <div class="orders__btn">
      <%= form.submit t('next'), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>