<section>
  <div class="modes">
    <h1><%= t('modes') %></h1>
    <div class="page__top">
      <%= link_to t('new_mode'), new_mode_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="modes__list">
    <% if @modes.empty? %>
      <h3><%= t('no_modes_registered') %></h3>
    <% else %>
      <table class="suppliers__list container table table-success table-striped">
        <thead>
          <tr>
            <th scope="col"><%= t('name') %></th>
            <th scope="col"><%= t('min_distance') %> (Km)</th>
            <th scope="col"><%= t('max_distance') %> (Km)</th>
            <th scope="col"><%= t('min_weight') %> (Kg)</th>
            <th scope="col"><%= t('max_weight') %> (Kg)</th>
            <th scope="col"><%= t('status') %></th>
          </tr>
        </thead>
        <tbody>
          <% @modes.each do |mode| %>
            <tr>
              <td scope="row"><%= link_to mode.name, mode_path(mode.id) %></td>
              <td><%= mode.min_distance %></td>
              <td><%= mode.max_distance %></td>
              <td><%= mode.min_weight %></td>
              <td><%= mode.max_weight %></td>
              <td>
                <span class="<%= mode.active ? 'ativo' : 'inativo' %>">
                  <%= mode.active ? t('active') : t('inactive') %>
                </span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</section>