<section>
  <div class="modes">
    <h1><%= t('mode') %></h1>
    <%= button_to(t("back"), modes_path, method: :get, class: "btn btn-primary modes__btn") %>
    
    <table class="modes__table table table-success table-striped">
      <tr>
        <th><%= t('name') %></th>
        <td><%= @mode.name %></td>
      </tr>
      <tr>
        <th><%= t('min_distance') %></th>
        <td><%= @mode.min_distance %> Km</td>
      </tr>
      <tr>
        <th><%= t('max_distance') %></th>
        <td><%= @mode.max_distance %> Km</td>
      </tr>
      <tr>
        <th><%= t('min_weight') %></th>
        <td><%= @mode.min_weight %> Kg</td>
      </tr>
      <tr>
        <th><%= t('max_weight') %></th>
        <td><%= @mode.max_weight %> Kg</td>
      </tr>
      <tr>
        <th><%= t('fixed_fee') %></th>
        <td><%= t('$') %> <%= @mode.fixed_fee %></td>
      </tr>
      <tr>
        <th><%= t('status') %></th>
        <td>
          <span class="<%= @mode.active ? 'ativo' : 'inativo' %>">
            <%= @mode.active ? t('active') : t('inactive') %>
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div class="modes__btn-bottom">
    <%= button_to(t("edit"), edit_mode_path(@mode.id), method: :get, class: "btn btn-warning") %>
  </div>
</section>