<section>
  <div class="vehicles">
    <h1><%= t('vehicles') %></h1>
    <p><%= link_to t('new_vehicle'), new_vehicle_path, class: "btn btn-primary" %></p>
  </div>
  <div class="modes__list">
    <% if @vehicles.empty? %>
      <h3><%= t('no_vehicles_registered') %></h3>
    <% else %>
      <table class="suppliers__list container table table-success table-striped">
        <thead>
          <tr>
            <th scope="col"><%= t('plate') %></th>
            <th scope="col"><%= t('model') %></th>
            <th scope="col"><%= t('category') %></th>
            <th scope="col"><%= t('mode') %></th>
            <th scope="col"><%= t('status') %></th>
          </tr>
        </thead>
        <tbody>
          <% @vehicles.each do |vehicle| %>
            <tr>
              <td scope="row"><%= link_to vehicle.plate, vehicle_path(vehicle.id) %></td>
              <td><%= vehicle.model %></td>
              <td><%= vehicle.category %></td>
              <td><%= vehicle.mode.name %></td>
              <td>
                <span class="
                  <%= if vehicle.status == 'operational'
                     'ativo'
                    elsif vehicle.status == 'transit'
                     'transito'
                    elsif vehicle.status == 'repair'
                     'inativo'
                    end
                  %>
                ">
                  <%= if vehicle.status == 'operational'
                     t('operational')
                    elsif vehicle.status == 'transit'
                      t('transit')
                    elsif vehicle.status == 'repair'
                     t('repair')
                    end
                  %>
                </span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</section>