<section>
  <div class="vehicles">
    <h1><%= t('vehicle') %></h1>
    <%= button_to(t("back"), vehicles_path, method: :get, class: "btn btn-primary vehicles__btn") %>
    
    <table class="vehicles__table table table-success table-striped">
      <tr>
        <th><%= t('plate') %></th>
        <td><%= @vehicle.plate %></td>
      </tr>
      <tr>
        <th><%= t('brand') %></th>
        <td><%= @vehicle.brand %></td>
      </tr>
      <tr>
        <th><%= t('model') %></th>
        <td><%= @vehicle.model %></td>
      </tr>
      <tr>
        <th><%= t('category') %></th>
        <td><%= @vehicle.category %></td>
      </tr>
      <tr>
        <th><%= t('year') %></th>
        <td><%= @vehicle.year %></td>
      </tr>
      <tr>
        <th><%= t('capacity') %></th>
        <td><%= @vehicle.capacity %> Kg</td>
      </tr>
      <tr>
        <th><%= t('status') %></th>
        <td>
          <span class="<%= @vehicle.status ? 'ativo' : 'inativo' %>">
            <%= @vehicle.status ? t('in_operation') : t('in_maintenance') %>
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div class="vehicles__btn-bottom">
    <%= button_to(t("edit"), edit_vehicle_path(@vehicle.id), method: :get, class: "btn btn-warning") %>
    <%= button_to(t("delete"), vehicle_path(@vehicle.id), method: :delete, class: "btn btn-danger") %>
  </div>
</section>