<!DOCTYPE html>
<html>
  <head>
    <title>LogisticsSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <section class="logo">
        <div class="logo__text">
          <h1><%= link_to t('logistics'), root_path %></h1>
        </div>
        <div class="nav">
          <nav>
            <ul>
              <li><%= link_to t('modes'), modes_path %></li>
            </ul>
          </nav>
        </div>
      </section>
    </header>
    <main>
      <div class="alert"><%= alert %></div>
      <div class="notice"><%= notice %></div>
      <%= yield %>
    </main>
  </body>
</html>